torch==2.1.2+cu118
torchvision==0.16.2+cu118
torchaudio==2.1.2+cu118
numpy==1.26.4
onnx==1.22.0
onnxruntime-gpu==1.18.1
opencv-python==4.9.0.80
onnxsim
netron
pyyaml
tqdm
scipy
scikit-image
pandas
matplotlib
nibabel
